        <footer>
            <p>© 2025 Book List Application</p>
            <p>Contact us at :<%= title %> <a href="mailto:mdottavi@gmail.com">mdottavi@gmail.com</a>
        </footer>    
    </body>
</html>
