<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione su Libreria Pinkopallo</h1>
    <p>
    <form method="post" action="/register">
        <table>
        <tr><td><label>username</label></td><td><input type="text" id="username" name="username" ></td></tr>
        <tr><td><label>password</label></td><td><input type="text" id="password" name="password" ></td></tr>
        <tr><td><label>name</label></td><td><input type="text" id="name" name="name" ></td></tr>
        <tr><td><label>lastname</label></td><td><input type="text" id="lastname" name="lastname" ></td></tr>
        <tr><td><label>email</label></td><td><input type="text" id="email" name="email" ></td></tr>
        </table>
        <input type="submit" value="Registrami!"></input>
    </form>
    </p>
    <div>
        <a href="/">Back to Home ...</a><br/>
    </div>
    <hr/>
    <footer>
        <p>© 2025 Ristorante Pinkopallo</p>
        <p>Contact us at: <a href="mailto:pinkopallo@gmail.com">pinkopallo@gmail.com</a>
    </footer>
</body>
</html>